body {
  background-color: #e0fffd;
  color: black;
  font-family: Times;
  text-align: center;
}

ul {
  list-style: none;
  list-style-type: none;
}

img {
  border: 5px solid #555;
}

.team-mem {
  display: flex;
  flex-direction: column;
  flex: auto;
  justify-content: center;
  min-width: 200px;
  background-color: #ffffff;
  border: 3px double #5e5e5e;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: space-between;
}