.page-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 80px auto 60px;
    grid-template-areas:
        "header header"
        "nav main"
        "footer footer";
    gap: 8px;
}

header {
    grid-area: header;
    padding: 0px 20px;
    font-style: italic;
    background-color: rgb(200, 233, 254);
    border: rgb(144, 169, 185);
    border-bottom-style: dashed;
}

.naav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
}

.naav a {
    padding: 16px 8px;
    font-size: 20px;
    font-weight: bold;
    border: rgb(144, 169, 185);
    border-left-style: solid;
    border-right-style: solid;
}

main {
    grid-area: main;
    padding: 0 8%;
    max-width: 1200px;
}

footer {
    grid-area: footer;
}

img {
    max-width: 100%;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto auto auto;
    gap: 8px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
}

.product-id {
    text-align: center;
    grid-column-start: 5;
    width: 15%;
    min-width: 200px;
    padding: 2em 2em;
    border-radius: 5px;
    border: rgb(224, 224, 224) solid;
    background-color: #f9f9f9;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.4);
}